body {
    background-color: #254550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

ul {
    background-color: black;
    color: white;
    width: 100px;
}
img {
    height: 200px;
}